[user]
	name = Vladimir Grinenko
	email = i@tadatuta.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	co = checkout
	ci = commit
	st = status
	b = branch
	hist = log --oneline --graph
[log]
        decorate=short
[core]
	excludesfile = /Users/tadatuta/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
