[user]
	name = Vladimir Grinenko
	email = i@tadatuta.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	co = checkout
	ci = commit
	st = status
	b = branch
	hist = log --oneline --graph

[log]
	decorate=short

[core]
	excludesfile = /Users/tadatuta/.gitignore
	editor = /Applications/Sublime\\ Text.app/Contents/SharedSupport/bin/subl -n -w
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[http]
	postBuffer = 524288000
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[rebase]
	autosquash = true
